Parsed function:undefined_handler
Parsed function:SysTick_Handler
Parsed function:PendSV_Handler
Parsed function:DebugMon_Handler
Parsed function:SVC_Handler
Parsed function:UsageFault_Handler
Parsed function:BusFault_Handler
Parsed function:MemManage_Handler
Parsed function:HardFault_Handler
Parsed function:NMI_Handler
Dump after hash based groups
Congruence classes: 1 (unique hash values: 1), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[10]: 1 classes


Dump after WPA based types groups
Congruence classes: 3 (unique hash values: 1), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[8]: 1 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 3 (unique hash values: 1), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[8]: 1 classes


Init called for 8 items (80.00%).
Dump after full equality comparison of groups
Congruence classes: 3 (unique hash values: 1), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[8]: 1 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 3 (unique hash values: 1), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[8]: 1 classes



Item count: 10
Congruent classes before: 3, after: 3
Average class size before: 3.33, after: 3.33
Average non-singular class size: 8.00, count: 1
Equal symbols: 7
Fraction of visited symbols: 70.00%

Semantic equality hit:HardFault_Handler->MemManage_Handler
Assembler symbol names:HardFault_Handler->MemManage_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->BusFault_Handler
Assembler symbol names:HardFault_Handler->BusFault_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->UsageFault_Handler
Assembler symbol names:HardFault_Handler->UsageFault_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->DebugMon_Handler
Assembler symbol names:HardFault_Handler->DebugMon_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->PendSV_Handler
Assembler symbol names:HardFault_Handler->PendSV_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->SysTick_Handler
Assembler symbol names:HardFault_Handler->SysTick_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

Semantic equality hit:HardFault_Handler->SVC_Handler
Assembler symbol names:HardFault_Handler->SVC_Handler
Wrapper creation is not profitable (function is too small).
Not unifying; cannot redirect callers nor produce wrapper

undefined_handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
SysTick_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
PendSV_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
DebugMon_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
SVC_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
UsageFault_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
BusFault_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
MemManage_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((weak))
HardFault_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


__attribute__((section (".systeminit"), section (".systeminit"), weak))
NMI_Handler ()
{
  <bb 2> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

}


