Dump after hash based groups
Congruence classes: 0 (unique hash values: 0), with total: 0 items
Class size histogram [num of members]: number of classe number of classess


Dump after WPA based types groups
Congruence classes: 0 (unique hash values: 0), with total: 0 items
Class size histogram [num of members]: number of classe number of classess


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 0 (unique hash values: 0), with total: 0 items
Class size histogram [num of members]: number of classe number of classess


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 0 (unique hash values: 0), with total: 0 items
Class size histogram [num of members]: number of classe number of classess


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 0 (unique hash values: 0), with total: 0 items
Class size histogram [num of members]: number of classe number of classess



Item count: 0
Congruent classes before: 0, after: 0
Average class size before: 0.00, after: 0.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

