Dump after hash based groups
Congruence classes: 4 (unique hash values: 4), with total: 4 items
Class size histogram [num of members]: number of classe number of classess
[1]: 4 classes


Dump after WPA based types groups
Congruence classes: 4 (unique hash values: 4), with total: 4 items
Class size histogram [num of members]: number of classe number of classess
[1]: 4 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 4 (unique hash values: 4), with total: 4 items
Class size histogram [num of members]: number of classe number of classess
[1]: 4 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 4 (unique hash values: 4), with total: 4 items
Class size histogram [num of members]: number of classe number of classess
[1]: 4 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Congruence classes: 4 (unique hash values: 4), with total: 4 items
Class size histogram [num of members]: number of classe number of classess
[1]: 4 classes



Item count: 4
Congruent classes before: 4, after: 4
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

