Parsed function:ClockMonitorEmpty_GetStatus
Parsed function:ClockMonitorEmpty_ClearStatus
Parsed function:ClockMonitorEmpty_Disable
Parsed function:ClockMonitorEmpty
Dump after hash based groups
Congruence classes: 3 (unique hash values: 3), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[3]: 1 classes


Dump after WPA based types groups
Congruence classes: 4 (unique hash values: 3), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 3 classes
[2]: 1 classes


Worklist has been filled with: 3
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 4 (unique hash values: 3), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 3 classes
[2]: 1 classes


Init called for 2 items (40.00%).
Dump after full equality comparison of groups
Congruence classes: 4 (unique hash values: 3), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 3 classes
[2]: 1 classes


Worklist has been filled with: 3
Address reference subdivision created: 0 new classes.
Congruence classes: 4 (unique hash values: 3), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 3 classes
[2]: 1 classes



Item count: 5
Congruent classes before: 4, after: 4
Average class size before: 1.25, after: 1.25
Average non-singular class size: 2.00, count: 1
Equal symbols: 1
Fraction of visited symbols: 20.00%

Semantic equality hit:ClockMonitorEmpty_Disable->ClockMonitorEmpty_ClearStatus
Assembler symbol names:ClockMonitorEmpty_Disable->ClockMonitorEmpty_ClearStatus

Symbols to be put in SSA form
{ D.6071 D.6091 }
Incremental SSA update started at block: 0
Number of blocks in CFG: 3
Number of blocks to update: 2 ( 67%)



Analyzing function: ClockMonitorEmpty_ClearStatus/3
;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }

Analyzing function body size: ClockMonitorEmpty_ClearStatus

IPA function summary for ClockMonitorEmpty_ClearStatus/3 inlinable
  global time:     13.000000
  self size:       5
  global size:     0
  min size:       0
  self stack:      0
  global stack:    0
    size:0.000000, time:0.000000
    size:3.000000, time:2.000000,  executed if:(not inlined)
  calls:
    ClockMonitorEmpty_Disable/2 function not considered for inlining
      loop depth: 0 freq:1.00 size: 2 time: 11callee size: 1 stack: 0

Unified; Wrapper has been created.


Reclaiming functions:
Reclaiming variables:
Clearing address taken flags:
ClockMonitorEmpty_GetStatus (Clock_Ip_NameType name)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return 3;

}


ClockMonitorEmpty_ClearStatus (Clock_Ip_NameType name)
{
  <bb 2> [local count: 1073741824]:
  ClockMonitorEmpty_Disable (name_1(D)); [tail call]
  return;

}


ClockMonitorEmpty_Disable (Clock_Ip_NameType name)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return;

}


ClockMonitorEmpty (const struct Clock_Ip_CmuConfigType * config)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return;

}


