Parsed function:CAN2_ORED_0_15_MB_IRQHandler
Parsed function:CAN2_Error_IRQHandler
Parsed function:CAN2_ORED_IRQHandler
Parsed function:CAN1_ORED_16_31_MB_IRQHandler
Parsed function:CAN1_ORED_0_15_MB_IRQHandler
Parsed function:CAN1_Error_IRQHandler
Parsed function:CAN1_ORED_IRQHandler
Parsed function:CAN0_ORED_16_31_MB_IRQHandler
Parsed function:CAN0_ORED_0_15_MB_IRQHandler
Parsed function:CAN0_Error_IRQHandler
Parsed function:CAN0_ORED_IRQHandler
Dump after hash based groups
Congruence classes: 8 (unique hash values: 8), with total: 11 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes
[2]: 3 classes


Dump after WPA based types groups
Congruence classes: 11 (unique hash values: 8), with total: 11 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 11 (unique hash values: 8), with total: 11 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 11 (unique hash values: 8), with total: 11 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 11 (unique hash values: 8), with total: 11 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes



Item count: 11
Congruent classes before: 11, after: 11
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

CAN2_ORED_0_15_MB_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_IRQHandler (2, 0, 15);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN2_Error_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_Error_IRQHandler (2);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN2_ORED_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_BusOff_IRQHandler (2);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN1_ORED_16_31_MB_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_IRQHandler (1, 16, 31);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN1_ORED_0_15_MB_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_IRQHandler (1, 0, 15);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN1_Error_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_Error_IRQHandler (1);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN1_ORED_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_BusOff_IRQHandler (1);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN0_ORED_16_31_MB_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_IRQHandler (0, 16, 31);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN0_ORED_0_15_MB_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_IRQHandler (0, 0, 15);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN0_Error_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_Error_IRQHandler (0);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


CAN0_ORED_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  FlexCAN_BusOff_IRQHandler (0);
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


